.markdown-body h1 {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.markdown-body h2 {
  font-size: 1.75em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.markdown-body h3 {
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.markdown-body h4 {
  font-size: 1.25em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.markdown-body h5 {
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.markdown-body h6 {
  font-size: 0.875em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}